@font-face {
  font-family: "iconfont";
  /* Project id 4538928 */
  src: url('//at.alicdn.com/t/c/font_4538928_4xhduln9wc6.woff2?t=1715229393583') format('woff2'),
    url('//at.alicdn.com/t/c/font_4538928_4xhduln9wc6.woff?t=1715229393583') format('woff'),
    url('//at.alicdn.com/t/c/font_4538928_4xhduln9wc6.ttf?t=1715229393583') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-settings:before {
  content: "\e632";
}